Datasets
/Week 1/pretrained
/Week 1/transformers
Week 2/pretrained/medclip-vit/medclip-vit-pretrained.zip
Week 2/pretrained/medclip-vit/pytorch_model.bin
Paper/EBMS_2025_SJA.docx
RadioCLIP_E1.pth
clip_roco2.pth
Paper/EBMS_2025_SJA_V1.docx
Paper/EBMS_2025_SJA_V2.docx
Paper/~WRL1928.tmp

Week 4/text-to-image-eval/
Week 5,6/text-to-image-eval/
/Models
/Week 10/Checkpoint backups
Week 10/model_checkpoint.pth
/Week 12/logs
/Week 12/processed_train_chunks
/Week 12/processed_validation_chunks
